<div class="banner">
    <h1>Movies lists</h1>
</div>
  <div class="container">
  </div>
<%= link_to "Make a new list", new_list_path %>

<% @lists.each do |list| %>
  <div class="container my-5">
        <div class="card-product">
        <%= list.photo.attached? ? cl_image_tag(list.photo.key) : "" %>
          <%= link_to list.name, list_path(list), class: 'card-product-infos'%>
          </div>
        </div>
  </div>
<% end %>
